/*@mixin SectionStyles {
    font-size: $font-sm;
    color :$Secondary-color;
    background-color: rgb(248, 155, 155);
    padding: 5px;
    margin: 5px;
    width: 80%;

  
} */
body {
  background-color: black;
  color: gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.nav {
  width: 100%;
  padding: 5px;
  margin-bottom: 30px;
  background-color: orange; }
  .nav ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px; }
  .nav li {
    list-style: none; }
    .nav li a {
      text-decoration: none;
      font-size: 30px;
      color: black;
      transition: color 0.5s, background-color 1s; }
    .nav li a:hover {
      background-color: white;
      color: orange;
      padding: 5px; }

.sectionStyles, .banner, .footer, .main {
  font-size: 20px;
  color: black;
  background-color: #e6dbdb;
  padding: 5px;
  margin: 5px;
  width: 80%; }

.banner {
  /*@include SectionStyles; */ }

.footer {
  /* @include SectionStyles; */ }

.banner h1 {
  font-size: 40px;
  text-align: center;
  color: gray;
  transition: color 0.5s, background-color 1s; }
  .banner h1:hover {
    background-color: orange;
    color: black; }

.footer h3 {
  font-size: 40px;
  text-align: center;
  color: gray;
  transition: color 0.5s, background-color 1s; }
  .footer h3:hover {
    background-color: orange;
    color: black; }

.main {
  /* @include SectionStyles; */ }
  .main h2 {
    font-size: 40px;
    text-align: center;
    color: gray;
    transition: color 0.5s, background-color 1s; }
  .main h2:hover {
    background-color: orange;
    color: black; }
