



@mixin headingSectionStyles {
    font-size: $font-lg;
    text-align: center;
    color :$Tertiary-color;
  
}
/*@mixin SectionStyles {
    font-size: $font-sm;
    color :$Secondary-color;
    background-color: rgb(248, 155, 155);
    padding: 5px;
    margin: 5px;
    width: 80%;

  
} */

@mixin hoverAnimation($transitionPara...) {
transition: $transitionPara;
}






$Primary-color : orange;
$Secondary-color:black;
$Tertiary-color :gray;

$font-lg:40px;
$font-md:30px;
$font-sm:20px;
body {
    background-color: $Secondary-color;
    color: $Tertiary-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav {
    

    width: 100%;
    padding: 5px;
    margin-bottom: 30px;
    ul {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;  
     }

    background-color: $Primary-color;
  li {
    list-style: none;

    a {
       text-decoration: none;
       font-size: $font-md;
       color: $Secondary-color;
       @include hoverAnimation(color 0.5s, background-color 1s); 
    }
    a:hover {
        background-color: white;
        color: $Primary-color;
    padding: 5px;
 
    }
  }


}

.sectionStyles {

    font-size: $font-sm;
    color :$Secondary-color;
    background-color: rgb(230, 219, 219);
    padding: 5px;
    margin: 5px;
    width: 80%;
}



.banner {
    /*@include SectionStyles; */
    @extend .sectionStyles;
}
.footer{
   /* @include SectionStyles; */
   @extend .sectionStyles;
}
.banner h1 {
    
    @include headingSectionStyles;
    @include hoverAnimation(color 0.5s, background-color 1s); 
    &:hover{
        background-color: $Primary-color;
    color: $Secondary-color;
      
    
     }
       
}


.footer h3 {
    @include headingSectionStyles;
    @include hoverAnimation(color 0.5s, background-color 1s); 
  &:hover{
    background-color: $Primary-color;
color: $Secondary-color;
  

 }
    


}
.main {
    @extend .sectionStyles;
   /* @include SectionStyles; */
    h2 {
        @include headingSectionStyles;
        @include hoverAnimation(color 0.5s, background-color 1s); 
    }
    h2:hover{
        background-color: $Primary-color;
    color: $Secondary-color;

    
      
}
       

}

